body {
  background: linear-gradient(180deg, #ffffff 0%, #a3a3a3 12%, #3d3d3d 100%);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

nav {
  background: linear-gradient(
    90deg,
    rgba(255, 238, 182, 1) 0%,
    rgba(255, 209, 55, 1) 12%,
    rgba(218, 168, 0, 1) 100%
  );
}

#content {
  width: 100%;
  height: 800px;
}

#container {
  background-color: lightgray;
  width: 95vw;
  height: 90vh;
  padding: 2%;
}

ul {
  width: 40%;
  margin: auto;
}

a {
  font-size: 1.5em;
  animation: none;
}

a:hover i {
  /*-webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);*/
  animation: wiggle 0.5s ease-in-out;
}

i {
  width: 20%;
  /*-webkit-transition: transform 1s;
  transition: transform 1s;*/
}

.dropdown-menu {
  background-color: #f1c500;
}

.dropdown-item:hover {
  background-color: #ffeb93;
}

#random {
  cursor: not-allowed;
}

@keyframes wiggle {
  20% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-15deg);
  }

  80% {
    transform: rotate(0deg);
  }
}
