<div class="col-12 col-md-6 col-lg-4"><a href="../reviews/blueberryNOVA.html">
          <div class="card">
            <img
              src="../img/games/blueberryNOVA.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">BlueberryNOVA</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                eos. Accusamus in quia non, maxime porro nemo sit amet pariatur
                molestiae accusantium ipsam impedit temporibus repudiandae
                voluptatem modi, quas ut...
              </p>
            </div>
          </a>
            <div class="card-body">
              <a
                target="_blank"
                href="https://store.steampowered.com/app/825550/BlueberryNOVA/"
                class="card-link badge badge-dark"
                >Steam</a
              >
              <a
                target="_blank"
                href="https://vndb.org/v22812"
                class="card-link badge badge-primary"
                >VNDB</a
              >
              <a
                target="_blank"
                href="https://vndb.org/v22812"
                class="card-link"
                >VNDB</a
              >
            </div>
          </div>
        </div>